*/tmp/
modules/*/lib/
modules/*/output/
modules/*/errors/
modules/*/samples/
modules/*/.settings/
modules/*/.classpath
modules/*/.project
modules/lib.*/work/
modules/lib.*/mudlib/save/
modules/lib.ds/lib
*.swp
*.swo
*.jar
*.zip
*.gz
*.bz2
*.log
.idea/
*.iml
