telnet.ports=6666
mudlib.root=../lib
mudlib.master=/secure/daemon/master.c
mudlib.sefun=/secure/sefun/sefun.c
compile.include.directories=include:secure/include
compile.include.auto=secure/include/global.h
compile.output=../work/
compile.debug=
save.extension.default=.o
plugins.directory=../driver/plugins/
compat.mud.name=DeadSoulsNew
max.eval.time.init=900000
max.eval.time=600000
